$my-primary: (
    50 : #e1e7e8,
    100 : #b4c3c6,
    200 : #829ba1,
    300 : #50737b,
    400 : #2b555e,
    500 : #053742,
    600 : #04313c,
    700 : #042a33,
    800 : #03232b,
    900 : #01161d,
    A100 : #5bc5ff,
    A200 : #28b3ff,
    A400 : #009ef4,
    A700 : #008dda,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent: (
    50 : #fffbee,
    100 : #fff5d4,
    200 : #ffeeb8,
    300 : #ffe79c,
    400 : #ffe186,
    500 : #ffdc71,
    600 : #ffd869,
    700 : #ffd35e,
    800 : #ffce54,
    900 : #ffc542,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff8ea,
    A700 : #fff0d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);