@use '@angular/material' as mat;
@import 'theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  mat-card {
    user-select: none;
  }

  h1 {
    font-size: 3rem !important;
    line-height: 3rem !important;
    font-weight: 700 !important;
    margin: 3rem 0 1rem 0 !important;
    padding: 0 0.5rem !important;
    width: 100%;
    color: map_get($my-text-colors, 900);
  }
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: map_get($my-light-colors, 500);
  border-radius: 3.5px;
  background-clip: content-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map_get($my-light-colors, 500);
  background-clip: content-box;
}