<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Hard skill</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Hard skills are specific, teachable abilities that can be defined and measured, such as typing, writing, math, reading and the ability to use software programs.
    </p>
    <p>
      By contrast, soft skills are less tangible and harder to quantify, such as etiquette, getting along with others, listening and engaging in small talk.
    </p>
    <p>
      For most jobs, both types of skills are important. But if you are applying for a job that is heavy on the technical side, you may want to pass on including a list of soft skills on your resume.
    </p>
  </mat-card-content>
</mat-card>
