:host {
  width: 16.666%;
  padding: 0.25rem;
}
.skill {
  position: relative;
  border-radius: 5px;
  padding: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  .card {
    padding: 1rem;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 1212px) {
  :host {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  :host {
    width: 33.333%;
  }
}