.skill {
  position: relative;
  border-radius: 5px;
  padding: 3px;
  overflow: hidden;
  cursor: pointer;
  .spinner {
    position: absolute;
    width: 150%;
    left: -25%;
    display: none;
  }
  &:hover {
    .spinner {
      display: block;
    }
  }
  .card {
    padding: 5px;
    width: 100%;
    aspect-ratio: 1/1;
  }

}