:host {
  display: flex;
  flex-wrap: wrap;
  .description {
    position: relative;
    display: flex;
    width: 50%;
  }
  .skills {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  :host {
    .description {
      width: 100%;
    }
    .skills {
      width: 100%;
    }
  }
}