:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  .description {
    width: 50%;
  }
  .skills {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    .skill {
      width: 33%;
      margin: 0
    }
  }
}

@media screen and (max-width: 660px) {
  :host {
    .description {
      width: 100%;
    }
    .skills {
      width: 100%;
    }
  }
}