<div class="main-content mat-app-background" id="main-content">
  <header class="header">
    <h2>{{ header.name }}</h2>

    <div class="spacer"></div>

    <button mat-button appAnchor goTo="apresentation" class="header-button">{{ header.apresentation }}</button>
    <button mat-button appAnchor goTo="projects" class="header-button">{{ header.projects }}</button>
    <button mat-button appAnchor goTo="experience" class="header-button">{{ header.experience }}</button>
    <button mat-button appAnchor goTo="skills" class="header-button">{{ header.skills }}</button>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item appAnchor goTo="apresentation">{{ header.apresentation }}</button>
      <button mat-menu-item appAnchor goTo="projects">{{ header.projects }}</button>
      <button mat-menu-item appAnchor goTo="experience">{{ header.experience }}</button>
      <button mat-menu-item appAnchor goTo="skills">{{ header.skills }}</button>
    </mat-menu>
  </header>

  <app-apresentation id="apresentation" appObserverChild [observer]="this.observer">
    <span class="greatings">{{ apresentation.greatings | uppercase }}</span>
    <span class="job-first-line">{{ apresentation.firstLine | uppercase }}</span>
    <span class="job-second-line">{{ apresentation.secondLine | uppercase }}</span>
    <app-apresentation-button *ngFor="let model of apresentation.buttons" [model]="model"></app-apresentation-button>
    <span class="description-text">{{ apresentation.description }}</span>
  </app-apresentation>

  <app-projects id="projects" [header]="projects.header">
    <app-project *ngFor="let project of projects.projects" [model]="project">
      <app-project-button-link *ngFor="let button of project.buttons" [model]="button"></app-project-button-link>
    </app-project>
  </app-projects>

  <app-experience id="experience" [header]="experience.header">
    <app-job *ngFor="let job of experience.jobs" [job]="job" [language]="lang"></app-job>
  </app-experience>

  <app-hard-skills id="skills" [header]="hardSkills.header">
    <app-description></app-description>
    <app-skill *ngFor="let skill of hardSkills.skills" [skill]="skill"></app-skill>
  </app-hard-skills>
</div>

<app-anchor appAnchor goTo="main-content" [showAnchor]="showAnchor"></app-anchor>