:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .content {
        background: linear-gradient(#641163 0, #15d9f3 100vw);
        flex: 1 1 auto;
        overflow-y: scroll;
    }
}