:host {
  width: 33.33%;
  padding: 0.5rem;
  .card {
    .image {
      aspect-ratio: 2/1;
      margin: 1rem 0;
    }
    .under-construction {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13rem;
      line-height: 13rem;
      margin: 1rem 0;
    }
    .buttons {
      display: flex;
    }
  }
}

@media screen and (max-width: 1212px) {
  :host {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  :host {
    width: 100%;
  }
}