<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ 'projects.' + model.name + '.title' | translate }}</mat-card-title>
  </mat-card-header>
  <img class="image" *ngIf="model.imagePath else underConstruction" [src]="model.imagePath"/>
  <ng-template #underConstruction>
    <div class="under-construction"><mat-icon color="warn" [inline]="true">construction</mat-icon></div>
  </ng-template>
  <mat-card-content>
    <p>{{ 'projects.' + model.name + '.description' | translate }}</p>
  </mat-card-content>
  <mat-card-actions>
    <ng-content select="app-project-button-link"></ng-content>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar *ngIf="model.loading" mode="indeterminate" color="warn"></mat-progress-bar>
  </mat-card-footer>
</mat-card>