:host {
  width: 33.33%;
  padding: 0.5rem;
  .job {
    mat-card-content {
      margin-top: 1rem;
      aspect-ratio: 4/2;
    }
  }
}

@media screen and (max-width: 1212px) {
  :host {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  :host {
    width: 100%;
  }
}

