$my-primary: (
    50 : #fbe4fc,
    100 : #f5bcf9,
    200 : #ef90f5,
    300 : #e964f0,
    400 : #e442ed,
    500 : #df21ea,
    600 : #db1de7,
    700 : #d718e4,
    800 : #d214e1,
    900 : #ca0bdb,
    A100 : #ffffff,
    A200 : #fbd3ff,
    A400 : #f6a0ff,
    A700 : #f486ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent: (
    50 : #e2fefe,
    100 : #b7fcfc,
    200 : #87fbfb,
    300 : #56f9f9,
    400 : #32f7f7,
    500 : #0ef6f6,
    600 : #0cf5f5,
    700 : #0af3f3,
    800 : #08f2f2,
    900 : #04efef,
    A100 : #ffffff,
    A200 : #e3ffff,
    A400 : #b0ffff,
    A700 : #96ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-light-colors: (
    50 : #fdfcfd,
    100 : #f9f8fa,
    200 : #f5f4f6,
    300 : #f1eff2,
    400 : #eeebf0,
    500 : #ebe8ed,
    600 : #e9e5eb,
    700 : #e5e2e8,
    800 : #e2dee5,
    900 : #ddd8e0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-text-colors: (
    50 : #f4f4f4,
    100 : #e3e3e3,
    200 : #d0d0d0,
    300 : #bdbdbd,
    400 : #aeaeaf,
    500 : #a0a0a1,
    600 : #989899,
    700 : #8e8e8f,
    800 : #848485,
    900 : #737374,
    A100 : #f8f8fe,
    A200 : #cacaf9,
    A400 : #9191ff,
    A700 : #7878ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);